<div class="d-flex mx-auto mt-5">
  <div class="row row-cols-3 g-5 mt-5">
    <div class="col">
      {{!-- card --}}
      <div class="card">
        <div class="card-body">
          <form id="card" class="form-row mx-2" action="/" method="POST">
            <div class="row g-3 mt-1 mb-3">
              <div class="col-md">
                {{!-- title --}}
                <div class="form-floating">
                  <input type="text" name="title" class="form-control" id="floatingInput" placeholder="Title">
                  <label for="floatingInput">Title</label>
                </div>
              </div>
              <div class="col-md">
                {{!-- type --}}
                <div class="form-floating">
                  <select name="type" class="form-select" id="floatingSelectGrid"
                    aria-label="Floating label select example">
                    <option value="book">Book</option>
                    <option value="sport">Sport</option>
                    <option value="relax">Relax</option>
                  </select>
                  <label for="floatingSelectGrid">Type</label>
                </div>
              </div>
            </div>
            {{!-- start and end time --}}
            <div class="row d-flex justify-content-between mb-3">
              <div class="col-md">
                <input type="time" name="start" style="width:100%;">
              </div>
              ~
              <div class="col-md">
                <input type="time" name="end" style="width:100%;">
              </div>
            </div>
            {{!-- record --}}
            <div class="form-floating mb-4">
              <textarea name="record" class="form-control" placeholder="record here" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Record</label>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <button type="Edit" class="btn btn-primary">Edit</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      {{!-- card --}}
      <div class="card">
        <div class="card-body">
          <form id="card" class="form-row mx-2" action="/" method="POST">
            <div class="row g-3 mt-1 mb-3">
              <div class="col-md">
                {{!-- title --}}
                <div class="form-floating">
                  <input type="text" name="title" class="form-control" id="floatingInput" placeholder="Title">
                  <label for="floatingInput">Title</label>
                </div>
              </div>
              <div class="col-md">
                {{!-- type --}}
                <div class="form-floating">
                  <select name="type" class="form-select" id="floatingSelectGrid"
                    aria-label="Floating label select example">
                    <option value="book">Book</option>
                    <option value="sport">Sport</option>
                    <option value="relax">Relax</option>
                  </select>
                  <label for="floatingSelectGrid">Type</label>
                </div>
              </div>
            </div>
            {{!-- start and end time --}}
            <div class="row d-flex justify-content-between mb-3">
              <div class="col-md">
                <input type="time" name="start" style="width:100%;">
              </div>
              ~
              <div class="col-md">
                <input type="time" name="end" style="width:100%;">
              </div>
            </div>
            {{!-- record --}}
            <div class="form-floating mb-4">
              <textarea name="record" class="form-control" placeholder="record here" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Record</label>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <button type="Edit" class="btn btn-primary">Edit</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      {{!-- card --}}
      <div class="card">
        <div class="card-body">
          <form id="card" class="form-row mx-2" action="/" method="POST">
            <div class="row g-3 mt-1 mb-3">
              <div class="col-md">
                {{!-- title --}}
                <div class="form-floating">
                  <input type="text" name="title" class="form-control" id="floatingInput" placeholder="Title">
                  <label for="floatingInput">Title</label>
                </div>
              </div>
              <div class="col-md">
                {{!-- type --}}
                <div class="form-floating">
                  <select name="type" class="form-select" id="floatingSelectGrid"
                    aria-label="Floating label select example">
                    <option value="book">Book</option>
                    <option value="sport">Sport</option>
                    <option value="relax">Relax</option>
                  </select>
                  <label for="floatingSelectGrid">Type</label>
                </div>
              </div>
            </div>
            {{!-- start and end time --}}
            <div class="row d-flex justify-content-between mb-3">
              <div class="col-md">
                <input type="time" name="start" style="width:100%;">
              </div>
              ~
              <div class="col-md">
                <input type="time" name="end" style="width:100%;">
              </div>
            </div>
            {{!-- record --}}
            <div class="form-floating mb-4">
              <textarea name="record" class="form-control" placeholder="record here" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Record</label>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <button type="Edit" class="btn btn-primary">Edit</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>