<div class="container mt-5">
  <div class="row mt-3">
    <h5 class="mt-5">Record</h5>
    <form class="filter-form">
      {{!-- nav --}}
    </form>
    <div class="error-message"></div>
    {{!-- show cards --}}
    <div class="row mt-3 show-cards mb-5">
      {{!-- card --}}
    </div>
  </div>
</div>
<script src="/js/record.js"></script>